/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    background-image: url(/Users/judyye/turing_work/mod1/whats-for-dinner/assets/burger-friends.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: fixed; */
}

.header {
    background-color: #0fb9b1;
    padding: 5px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    height: 30;    
}

#header-text {
    margin-top: 6px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;  
}

.flex-container {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.options {
    /* display: inline-block; */
    border: 5px solid black;
    width: 400px;
    height: 350px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    opacity: .95;
    background-color: rgba(225, 225, 225, .9);

}

/* .inline {
    vertical-align: middle;
} */

label {
    display: block;
    margin: 0.5rem
}


.recipe, .random {
    border: 5px solid black;
    width: 400px;
    height: 350px;
    opacity: .95;
    background-color: rgba(225, 225, 225, .9);
}
.random {
    text-align: center;
    display: flex;
    border: 5px solid green;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
/* .hidden-box {
    display: flex;
    flex-direction: column;

} */
/* #you-should-make {
    display: flex;
    justify-content: center
}

#current-recipe {
    display: flex;
    justify-content: center
} */

.svg {
    /* border: solid red; */
    width: 7rem;
    height: 7rem;
    padding: 7.5rem 9rem;
}

.cook {
    background-color: #0fb9b1;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

#options-question {
    margin-left: 2rem
}

.hidden {
    display: none;
}